{% extends "base.html" %}


{% block content %}
<br>
    <h1>Generate Exel Sheet for -</h1>
    <div class="container">
        {% for vidhan_sabha in vidhan_sabhas %}
        <div class="card" style="width: 80%;">
            <div class="card-body">
              <h5 class="card-title">{{ vidhan_sabha.name }} - {{ vidhan_sabha.id }}</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
              <a href="/generate_excel/{{ vidhan_sabha.id }}" class="card-link">Generate  Excel Sheet</a>
              <a href="/generate_report/{{ vidhan_sabha.id }}" class="card-link">Show  Report</a>
            </div>
          </div>
<br>
                    {% endfor %}
    </div>

{% endblock %}