{% extends "base.html" %}

{% block content %}
    <div class="container" style="margin-top: 10vh;">
      <ul class="nav nav-tabs nav-pills">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">Create Entry / प्रविष्टि बनाएं</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/update">Update Entry / अपडेट करें</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/view">View Booth Data</a>
          </li>
      </ul>
      <br><br>
        <form action="/view_booth" method="POST" role="search">
            <div class="mb-3">  
                <h3>Select Ac. / विधान सभा </h3>
                <select class="form-select" aria-label="Select Vidhan Sabha" name="vidhan_sabha">
                    <option selected disabled>Choose ..</option>
                    {% for vidhan_sabha in vidhan_sabhas %}
                        <option value="{{ vidhan_sabha.id }}">{{ vidhan_sabha.name }} - {{ vidhan_sabha.id }}</option>
                    {% endfor %}
                </select>
        
            </div>
            <br>
            <div class="mb-3">
                <h3>Booth No. / मतदान केंद्र क्रमांक </h3>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">#</span>
                    <input type="number" class="form-control" id="boothNumber" name="boothNumber" placeholder="Enter Booth No." aria-label="Enter Booth No." aria-describedby="basic-addon1" required>
                </div>
            </div>
        
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        
    </div>
{% endblock %}